In [3]:
#import
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%config IPCompleter.greedy=True #autocomplete jupyter

In [5]:
#load the file
file_path = r'AB_NYC_2019.csv'
data = pd.read_csv(file_path)

#data info()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
id                                48895 non-null int64
name                              48879 non-null object
host_id                           48895 non-null int64
host_name                         48874 non-null object
neighbourhood_group               48895 non-null object
neighbourhood                     48895 non-null object
latitude                          48895 non-null float64
longitude                         48895 non-null float64
room_type                         48895 non-null object
price                             48895 non-null int64
minimum_nights                    48895 non-null int64
number_of_reviews                 48895 non-null int64
last_review                       38843 non-null object
reviews_per_month                 38843 non-null float64
calculated_host_listings_count    48895 non-null int64
availability_365                  48895 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [20]:
#find the most common neighbourhood
mask = data['neighbourhood'].value_counts() > 300
sort_neighbourhood = data['neighbourhood'].value_counts()[mask]
sort_neighbourhood = sort_neighbourhood.index

In [63]:
#calculate average price
def is_in_sort_neighbourhood(x):
    if x in sort_neighbourhood:
        return True
    else:
        return False
    
data["is in neighbourhood"] = data['neighbourhood'].apply(is_in_sort_neighbourhood).values

mask = data["is in neighbourhood"] == True

average_price =data.loc[mask,'price'].mean()

In [92]:
#apartments below the average price
mask = (data["is in neighbourhood"] == True) & (data['price']<average_price)
data[mask].shape

(27176, 18)

In [93]:
#Calculate the distance of flats from the beginning of the axes
data['radius'] = np.sqrt(data['latitude']**2 + data['longitude']**2)

In [95]:
# 10 moset close to axis and apartments below the average price
final_data = data[mask].sort_values('radius')[:10]

In [101]:
#Drop the apartments that don’t have review
mask = final_data['reviews_per_month'].isnull().values
final_data[mask]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,is in neighbourhood,radius
37418,29688392,Serenity In Queens,223431967,Stacy,Queens,Flushing,40.72915,-73.79448,Private room,70,2,0,NaN,NaN,1,95,True,84.288130
47165,35613707,Cozy One BR near Manhattan!- 15min to Time Squ...,267928032,Chhong,Queens,Flushing,40.72899,-73.79578,Entire home/apt,119,1,0,NaN,NaN,1,179,True,84.289191
29397,22546236,SJU大学,133825714,Peng,Queens,Flushing,40.72465,-73.80162,Shared room,30,1,0,NaN,NaN,1,0,True,84.292207
13784,10383291,"Comfortable, cozy, dorm-like room",53450065,Maria,Queens,Flushing,40.72211,-73.80908,Private room,30,1,0,NaN,NaN,1,0,True,84.297512